$borderradius: 4px;

@mixin button {
    border: 0;
    padding: 3%;
    font-size: .9em;
    border-radius: $borderradius;
    background: #336699;
    color: #ffffff;
    box-shadow: inset 1px 1px 2px #6699cc, inset -1px -1px 2px #003366;
    cursor: pointer;
    text-align: center;
}

body {
    font-size: 1em;
    line-height: 1.4em;
    font-family: sans-serif;
    background: #ffffff;
    color: #444444;
    max-width: 1100px;
    margin: 0 auto 0 auto;
}

a, a:visited {
    color: #336699;
}

a:hover {
    color: #6699cc;
}

img {
    display: block;
    border-radius: $borderradius;
    max-width: 100%;
}

img.mgfeature {
    cursor: pointer;
    box-shadow: 0 0 2px #666666;
}

div {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 99%;
}

thead {
    font-weight: bold;
}

td {
    font-size: .9em;
    border: solid 1px #cccccc;
    padding: 1%;
    white-space: nowrap;
}

td.green {
    background: #ccffcc;
}

td.red {
    background: #ffcccc;
}

td.yellow {
    background: ffffcc;
}

h1, h2, h3, h4, h5 , h6 {
    margin: 1% 0 1% 0;
    color: #666666;
}

h1 {
    font-size: 1.4em;
    line-height: 1.8em;
}

h2 {
    font-size: 1.3em;
    line-height: 1.7em;
}

h3 {
    font-size: 1.2em;
    line-height: 1.6em;
}

h4 {
    font-size: 1.1em;
    line-height: 1.5em;
}

h5 {
    font-size: 1em;
    line-height: 1.4em;
}

h6 {
    font-size: 1em;
    line-height: 1.4em;
}

p, ul {
    margin: 2% 0 2% 0;
}

ul {
    padding-left: 6%;
}

form {
    margin: 0;
    padding: 0;
    label {
        display: block;
        margin: 0;
        padding: 0;
    }
    fieldset {
        border: 0;
        margin: 0 0 10px 0;
        padding: 0;
    }
    input[type=text], textarea {
        width: 96%;
        margin: 0;
        background: #dddddd;
        color: #000000;
        border-radius: $borderradius;
        border: 0;
        padding: 2%;
        font-size: 1em;
        line-height: 1.4em;
        box-shadow: inset 1px 1px 2px #cccccc, inset -1px -1px 2px #ffffff;
    }
    input[type=submit] {
        float: right;
        @include button;
    }
    input[type=submit]:hover {
        background: #4477aa;
    }
    input[type=submit]:active {
        background: #4477aa;
    }
    select {
        width: 100%;
        font-size: 1.1em;
    }
    select[multiple] {
        width: 100%;
        font-size: 1em;
        border: solid 1px #cccccc;
    }
}

body.mgnomargin {
    padding: 0;
    .mggroup {
        .mgbox {
            margin: 0;
            width: 100%;
            border-radius: 0;
        }
    }
    .mgcontent {
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
}

.mgcontent {
    float: left;
    margin: 2%;
    width: 96%;
    .mggroup {
        clear: both;
        overflow: hidden;
    }
    .mgbox {
        background: #eeeeee;
        padding: 3%;
        margin: 1% 1% 2% 1%;
        float: left;
        width: 98%;
        overflow: hidden;
        border-radius: $borderradius;
        position: relative;
    }
    .square {
        overflow: auto;
    }
    
}

.mgover {
    display: none;
    background: #ffffff;
    position: fixed;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    box-shadow: 0 0 20px #000000;
    z-index: 49;
    border-radius: $borderradius;
    padding: 5px;
    .mgdata {
        margin: 0;
        clear: both;
        overflow: -moz-scrollbars-vertical;
        overflow: auto;
        box-shadow: none;
        img.mgfeature {
            width: auto;
            max-width: 100%;
            margin: 2% auto 2% auto;
            cursor: auto;
        }
    }
}

.mgover {
    a.close {
        float: right;
        background: #666666;
        border-radius: $borderradius;
        padding: 3px 8px 3px 8px;
        margin-bottom: 5px;
        color: #ffffff;
        font-weight: bold;
        font-size: 1em;
        cursor: pointer;
    }
    a.close:hover {
        background: #888888;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.text-center {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

// Medium screens
@media only screen and (min-width: 500px) { 
    
    body {
        font-size: .9em;
    }
    
    .mgcontent {
        .mggroup {
            .mgbox.xmed-1 {
                width: 6%;
            }
            .mgbox.xmed-2 {
                width: 14%;
            }
            .mgbox.xmed-3 {
                width: 23%;
            }
            .mgbox.xmed-4 {
                width: 31%;
            }
            .mgbox.xmed-5 {
                width: 39%;
            }
            .mgbox.xmed-6 {
                width: 48%;
            }
            .mgbox.xmed-7 {
                width: 56%;
            }
            .mgbox.xmed-8 {
                width: 64%;
            }
            .mgbox.xmed-9 {
                width: 74%;
            }
            .mgbox.xmed-10 {
                width: 23%;
            }
            .mgbox.xmed-11 {
                width: 81%;
            }
            .mgbox.xmed-12 {
                width: 98%;
            }
        }
        .mgbox {
            padding: 2%;
            margin: 1%;
        }
    }
    
}

// Large screens
@media only screen and (min-width: 800px) { 
    
    .mgcontent {
        .mggroup {
            .mgbox.xlg-1 {
                width: 6%;
            }
            .mgbox.xlg-2 {
                width: 14%;
            }
            .mgbox.xlg-3 {
                width: 23%;
            }
            .mgbox.xlg-4 {
                width: 31%;
            }
            .mgbox.xlg-5 {
                width: 39%;
            }
            .mgbox.xlg-6 {
                width: 48%;
            }
            .mgbox.xlg-7 {
                width: 56%;
            }
            .mgbox.xlg-8 {
                width: 64%;
            }
            .mgbox.xlg-9 {
                width: 74%;
            }
            .mgbox.xlg-10 {
                width: 23%;
            }
            .mgbox.xlg-11 {
                width: 81%;
            }
            .mgbox.xlg-12 {
                width: 98%;
            }
        }
        .mgbox {
            padding: 1%;
            margin: 1%;
        }
    }
    
}